# vi: ft=zsh

function housekeep() {
  brew upgrade
  brew update
  brew autoremove
  brew cleanup --prune=all --dry-run
  read -q 'REPLY?Do you want to clean up? [y/N] '
  if [[ $REPLY == 'y' ]]; then
    brew cleanup --prune=all
  fi
}
