### PATH
PATH=$PATH:$HOME/go/bin:$HOME/.scripts
ZSH="$HOME/.zsh"

### SSH Agent
{{- if eq .chezmoi.os "darwin" }}
YKCS_PROVIDER="/opt/homebrew/Cellar/yubico-piv-tool/2.3.1/lib"
YKCS_PATH="$YKCS_PROVIDER/libykcs11.dylib"
{{- else if eq .chezmoi.os "linux" }}
export LD_LIBRARY_PATH="/usr/local/lib"
YKCS_PROVIDER="/usr/local/lib"
YKCS_PATH="$YKCS_PROVIDER/libykcs11.so"
{{- end }}
# Allow providers from yubico-piv-tool to be able to use libykcs11.dylib
eval $(ssh-agent -s -P "$YKCS_PROVIDER/*" | grep SSH_)

# Check if a YubiKey is detected
ykman info &> /dev/null
if [[ "$?" == 0 ]]; then
  # Add PIV card
  # NOTE: this will require the Yubikey pin when loading
  ssh-add -s "$YKCS_PATH"
fi

source "$ZSH/init.sh"

### Plugins and scripts 
plugins=(
    dirhistory
    fancy-ctrl-z
    git
    sudo
    tmux
    zsh-syntax-highlighting
    zsh-autosuggestions
)

# Load all of the plugins that were defined in ~/.zshrc
for plugin ($plugins); do
if [[ -f "$ZSH/plugins/$plugin/$plugin.plugin.zsh" ]]; then
    source "$ZSH/plugins/$plugin/$plugin.plugin.zsh"
fi
done
unset plugin

# Load config files
for config_file ("$ZSH"/lib/*.zsh); do
  source "$config_file"
done

### Theming
ZSH_THEME="cobalt2"
source "$HOME/.zsh/themes/$ZSH_THEME.zsh-theme"

### TMUX Config
KUBE_TMUX_CLUSTER_FUNCTION=get_cluster_short
ZSH_TMUX_AUTOSTART=true

### Editor
if [[ -n $SSH_CONNECTION ]]; then
  EDITOR='vim'
else
  EDITOR='nvim'
fi
export EDITOR

### History
# Avoid duplicates
HISTCONTROL=ignoredups:erasedups
PROMPT_COMMAND="history -a; history -n"

### Aliases
source $HOME/.aliases
if [[ -f $HOME/.aliases.work ]]; then
  source $HOME/.aliases.work
fi

[[ $commands[kubectl] ]] && source <(kubectl completion zsh)

ulimit -n 50240

{{ if eq .chezmoi.os "linux" }}
### Force wayland
export QT_QPA_PLATFORMTHEME=qt5ct
export QT_QPA_PLATFORM=wayland
export GDK_BACKEND=wayland
export MOZ_ENABLE_WAYLAND=1
{{ end}}

## Vim bindings
bindkey -v
