# vi: ft=gitconfig

[user]
  name = Alexy Mantha
  email = alexy@mantha.dev
[gpg]
	format = ssh
[commit]
  gpgsign = true
  template = {{ .chezmoi.homeDir }}/.gitmessage
[push]
  autoSetupRemote = true
[gpg "ssh"]
  defaultKeyCommand = get_signing_key 

